@use "_mixin.scss" as mx;

#wrap {
	width: 100%;

}

#page {
	overflow: clip;

	.site-main {
		display: grid;
		grid-template-columns: 250px 1fr;
		grid-template-rows: auto;
		margin-top: 140px;

		&.hide-navi {
			#view {
				grid-row: 1;
				grid-column: 1 / span 2;
			}
		}

		#view {
			margin: -40px 0 0 0;
			float: none;
			width: 100%;
			min-height: 100vh;

			.site-contents {
				margin-top: 0px;
				display: grid;
				grid-template-columns: 1fr 250px;
				grid-template-rows: auto 1fr;

				&.hide-right {
					.postinfo {
						grid-column: 1 / span 2;
					}
				}

				h2 {
					grid-column: 1;
					grid-row: 1;
					background: none;
					padding: 40px 40px 20px;
					border-bottom: none;
					color: #009B63;
					@include mx.fs(28);
					display: flex;
					align-items: center;
					line-height: 1.5;

					.icon {
						flex-shrink: 0;
						font-size: 1em;

					}
				}

				h3 {
					@include mx.fs(24);
					color: #004098;

				}

				.postinfo {
					margin: 0;
					grid-row: 2;
					grid-column: 1;
					float: none;
					width: 100%;
					padding: 0 40px 40px;

					span {
						padding: 0;
					}
				}

				.right {
					grid-row: 1 / span 2;
					grid-column: 2;
					float: none;
					width: 100%;
					background: #D4EBE3;
					color: #888888;
					padding-top: 52px;
					position: relative;

					&.hide {
						right: -250px;
					}

					.toggle-genre1 {
						width: 250px;
						right: 0;
						top: 100px;
						z-index: 10;
						position: fixed;
						gap: 5px;
						display: flex;
						align-items: center;
						background: #D4EBE3;
						text-align: left;
						@include mx.hover{
							background: #c1e6d9;
						}
						&.close {
							height: 40px;
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 0px 1em;
							width: 40px;

							.text {
								display: none;
							}
						}
					}

					button {
						color: #888888;
						padding: 10px 1em;
					}

					.genre1 {
						>ul {
							>li {

								>label {
									padding: 5px 0.5em 5px 1em;
								}

								>ul {
									display: none;
									background: rgba(240, 240, 240, 0.5);

									li {
										>label {
											padding: 3px 0.5em 3px 2em;
										}
									}
								}
							}
						}
					}
				}
			}

		}
	}

	.content {

		&--box {
			background: #fff;
			padding: 20px;
		}

		&--add-blog {
			display: flex;
			flex-direction: column;
			gap: 20px;

			&__main {
				display: flex;
				flex-direction: column;
				gap: 20px;


				>div {
					display: flex;
					gap: 10px;
					align-items: center;

					h4 {
						background: #E6ECF5;
						padding: 10px;
						color: #004098;
						width: 30%;
						white-space: nowrap;
					}
				}
			}

			&__text {
				>* {
					width: 100% !important;
					background: #fff;

					#report_note {
						display: none;
					}

					.nicEdit-main {
						padding: 10px;
						;
						margin: 0 !important;
						width: 100% !important;
					}
				}
			}

			&__media {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: auto;
				gap: 20px;
			}

			&__pdf {
				display: flex;
				align-items: center;
				gap: 40px;
				background: #E6ECF5;
				padding: 10px 20px;
				margin-top: 0px;

				.chk {
					display: flex;
					align-items: center;
					gap: 30px;
				}
			}

			&__images {
				display: flex;
				align-items: center;
				gap: 4px 20px;

				@include mx.max_w(1080) {
					flex-wrap: wrap;
				}

				>h4 {
					white-space: nowrap;
				}

				table {
					width: 100%;
					margin: 0;

					td {
						&:nth-child(2) {
							width: 80px;
							text-align: right;
							position: relative;

							@include mx.hover {
								&::before {
									@include mx.icon_close_circle('004098');
								}
							}

							&::before {
								pointer-events: none;
								content: "";
								width: 16px;
								height: 16px;
								@include mx.icon_close_circle('707070');
								position: absolute;
								left: 0;
								top: 50%;
								transform: translateY(-50%);
								z-index: 2;
							}
						}
					}

					input[type="button"] {
						cursor: pointer;
						color: #004098;
						@include mx.fs(14);
						border: none;
						background: none;
						width: 100% !important;
					}
				}
			}

			&__post {
				padding: 0;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 1fr;
				gap: 0px;

				@include mx.max_w(1400) {
					display: grid;
					grid-template-columns: 1fr 1.5fr 1fr;
				}

				@include mx.max_w(1280) {
					grid-template-columns: 1fr;
					grid-template-rows: auto;
				}

				icon {
					color: #ccc;
				}

				.post {
					padding: 20px;
					display: flex;
					flex-direction: column;
					align-items: center;
					position: relative;

					h4 {
						width: fit-content;
					}

					>div {
						display: flex;
						flex-direction: column;
						gap: 10px;
					}

					&::after {
						content: "";
						width: 3px;
						height: calc(100% - 20px);
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						background: #EFF7F4;

						@include mx.max_w(1280) {
							height: 3px;
							width: calc(100% - 20px);
							right: auto;
							left: 50%;
							top: auto;
							transform: translateX(-50%);
							bottom: 0;
						}
					}

					&:last-child {
						&::after {
							display: none;
						}
					}

					&--status {
						.chk {
							display: flex;
							align-items: center;
							flex-wrap: wrap;
							gap: 10px;
						}

					}

					&--date {
						&__ymd {
							display: flex;
							align-items: center;
							gap: 10px;

							>div {

								input {
									border: none;
								}

								border: solid 1px #707070;
								display: grid;
								grid-template-columns: 1.5fr 1fr 1fr;

							}
						}

						&__time {
							display: flex;
							align-items: center;
							flex-wrap: wrap;
							gap: 8px;

							input[type="number"] {
								padding: 2px 5px;
							}

							input[type="number"]::-webkit-outer-spin-button,
							input[type="number"]::-webkit-inner-spin-button {

								-webkit-appearance: none;
								margin: 0;
								-moz-appearance: textfield;
							}
						}

					}

					&--auther {

						>div {}
					}
				}
			}
		}
	}
}