@use "_mixin.scss" as mx;

#page {
	.site-main {
		.btn-menu {
			background: #BF9D6D;
			width: 100%;
			text-align: left;
			color: #fff;
			z-index: 10;
			position: fixed;
			left: 0;
			top: 100px;
			width: 250px;
			height: 40px;
			padding: 0em 0 0em 0.5em;
			display: flex;
			align-items: center;
			gap: 5px;
			.text{
				font-weight: 700;
			}
			&.close{
				width: 40px;
				.text{
					display: none;
				}
			}
			@include mx.hover {
				filter: brightness(1.2);
			}

			z-index: 100;
		}

		#navi {
			margin: 0;
			width: 100%;
			float: none;
			background: #004098;
			position: relative;
			&.hide{
				margin-left: -250px;
				height: 50px;
			}
			#navi__inner {
				z-index: 10;
				background: #004098;

				>a {
					background: #009B63;
					width: 100%;
					text-align: left;
					color: #fff;

					@include mx.hover {
						filter: brightness(1.2);
					}
				}

				>a,
				h3,
				button {
					padding: 0.2em 0 0.2em 0.5em;
					display: flex;
					align-items: center;
					width: 100%;
					gap: 5px;

				}

				h3 {
					background: #004098;

				}

				.icon {
					flex-shrink: 0;
				}

				ul {
					background: transparent;
					display: flex;
					flex-direction: column;
					gap: 2px;
					border-right: 2px solid #004098;
					border-left: 2px solid #004098;
					border-bottom: 2px solid #004098;

					li {
						padding: 0;
						margin: 0;

						a {
							font-weight: 500;
							color: #004098;
							padding: 0.3em 0 0.3em 1.2em;
							display: block;
							background: rgba(255, 255, 255, 0.85);
							position: relative;

							&.current {
								color: #009B63;

								&::after {
									content: "";
									width: 5px;
									height: calc(100% - 6px);
									background: #009B63;
									position: absolute;
									right: 3px;
									top: 3px;
									z-index: 2;
								}
							}

							@include mx.hover {
								background: rgba(255, 255, 255, 1);
							}
						}
					}
				}
			}

			.copyright {
				background: none;
				width: calc(100% - 10px);
				@include mx.fs(11);
				font-weight: 300;
				line-height: 1.5;
				color: #fff;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 10px;
				z-index: 0;
			}
		}
	}
}