<meta charset="UTF-8" />
<link rel="icon" type="image/svg+xml" href="<%= meta.absPath %>favicon.svg" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% if (meta.title != 'HOME') { %><title><%= meta.title %>｜公文国際学園中等部・高等部 保護者専用サイト</title><% } else { %><title>公文国際学園中等部・高等部 保護者専用サイト</title>
<% } %><link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />